body{
    background-color: rgb(187, 166, 138);
    width: 800px;
    margin : 0px auto;
    /*text-align: center;*/
}
a{
    font-size: 25px;
    color: rgb(58, 11, 11) ;
}
h1{
    text-align: center;
}
ul{
    width:70%;
    margin: 0 auto;    
}
li{ 
    margin: 5px 0px;
}
