body{
    background-color: antiquewhite;
}
.container{
    background-color: rgb(153, 92, 13);
    padding: 10px;
}
p, ul, ol{
    font-size: 25px;
}
h1{
    text-align: center;
}
img{
    width: 700px;
    height: auto;
    display: block;
    margin: 0px auto; 
}
.image-container{
    background-color: rgb(219, 181, 142);
}
h2{
    font-size: 27px;
}